.child {
	width: 200px;
	height: 200px;
	background-color: #d6d6d6;
}

.grand-child {
	width: 100px;
	height: 100px;
	background-color: #bebebe;
}

[class^="great"] {
	border: 1px solid green;
}

.group2 + div {
	border: 2px solid red;
}

.group1 ~ div:hover {
	border: 2px solid black;
}

main > div {
	margin: 10px;
	border: 2px solid white;
	transition: .3s;
}

main > div > div {
	position: relative;
	top: 25%;
	left: 25%;
}

p::first-line {
	color: red;
}

p::first-letter {
	font-size: 1.5em;
	color: crimson;
}

p::selection {
	color: blue;
}

a[lang|="en"] {
	color: red;
}